site_name: "Ressources de 1ère NSI"
site_author: Fabrice Perez
site_url: https://fab-perez.github.io/NSI-1/

site_description: >-
  Ressources pour le cours de 1ère NSI de l'Ecole Internationale PACA

repo_url: https://github.com/fab-perez/NSI-1

copyright: |
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a> Mise à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International</a>.


theme:
  name: material
  font: false
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.prune 
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: fr
  
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Passer en mode sombre

    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Passer en mode clair

  logo: assets/logo-ecole-internationale-paca-manosque.png

  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/log-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16


extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.critic
  - pymdownx.tilde
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  # enables native support for Mermaid.js diagrams
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  #  enables content tabs
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.caret


extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js


  # Page tree
nav:
  - A propos: index.md
  
  - Types et valeurs de base:
    - types-et-valeurs-de-base/index.md
    - Écriture d'un entier positif dans une base b >= 2: types-et-valeurs-de-base/1-ecriture-entier-positif-en-base-b.md
    - Représentation des nombres entiers en machine et entiers relatifs: types-et-valeurs-de-base/2-representation-des-entiers-en-machine-entiers-relatifs.md
    - Représentation approximative des nombres réels: types-et-valeurs-de-base/3-representation-approximative-nombres-reels.md
    - Valeurs, opérateurs et expressions booléens: types-et-valeurs-de-base/4-valeurs-expressions-booleennes.md
    - Représentation d'un texte en machine: types-et-valeurs-de-base/5-representation-texte.md

  - Types construits: 
    - types-construits/index.md
    - p-uplets: types-construits/1-p-uplets.md
    - Tableaux: types-construits/2-tableaux.md
    - Dictionnaires: types-construits/3-dictionnaires.md
    - Comparaisons: types-construits/4-comparaisons.md
    - Chaînes de caractères: types-construits/5-chaines-de-caracteres.md

  - Traitement des données en table: 
    - donnees-en-tables/index.md
    - Lecture et écriture dans un fichier: donnees-en-tables/1-lecture-ecriture-dans-un-fichier.md
    - Table de données: donnees-en-tables/2-table-de-donnees.md
    - Rechercher dans une table: donnees-en-tables/3-rechercher-dans-une-table.md
    - Trier une table: donnees-en-tables/4-trier-une-table.md
    - Fusionner des tables: donnees-en-tables/5-fusionner-des-tables.md

  #- Interactions entre l’homme et la machine sur le Web: 
  #  - ihm-sur-web/index.md

  - Langages et programmation(1): 
    - langages-et-programmation/index.md
    - Variables et affectation: langages-et-programmation/1-variables-affectation.md
    - Opérations, comparaisons et expressions: langages-et-programmation/2-operations-comparaisons-expressions.md
    - Instructions: langages-et-programmation/3-instructions.md
    - Constructions élémentaires: langages-et-programmation/4-constructions-elementaires.md
    - Appel de fonctions: langages-et-programmation/5-fonctions.md
    - Modules et bibliothèques: langages-et-programmation/6-modules-bibliotheques.md
    - Mise au point des programmes et gestion des bugs: langages-et-programmation/7-mise-au-point-gestion-bugs.md
    
  - Langages et programmation(2): 
    - langages-et-programmation-2/index.md
    - Types de langages: langages-et-programmation-2/1-types-de-langages.md
    - Paradigmes de programmation: langages-et-programmation-2/2-paradigmes-de-programmation.md

  - Algorithmique: 
    - algorithmique/index.md
    - Tris: algorithmique/2-tris.md 
    - k plus proches voisins: algorithmique/3-kppv.md 
    - Recherche dichotomique dans un tableau trié: algorithmique/4-recherche-dichotomique-tableau-trie.md
    - Algorithmes glouton: algorithmique/5-algorithmes-gloutons.md



